! Command: show running-config
! device: sw2 (vEOS, EOS-4.22.0F)
!
! boot system flash:/vEOS-lab.swi
!
transceiver qsfp default-mode 4x10G
!
hostname sw2
!
spanning-tree mode mstp
!
no aaa root
!
username admin role network-admin secret sha512 $6$4ev9sxH70dGZwr20$7/2LusB/A2fhRPI/m4YMtOY7GV8JdUc.JNdL6uRGbesNYvwa52U4I1F5k8jG.S/Rf61hr8zGucZUmYY584tKF1
!
interface Management1
   mtu 1450
   ip address dhcp
   dhcp client accept default-route
!
no ip routing
!
management api http-commands
   protocol http
   no shutdown
!
end

